/* ===========================
general
============================= */

.ltr {
    direction: ltr;
}


/* ==========================
signup form
============================= */

.logo-form {
    width: 150px;
    margin-bottom: 50px;
    margin-top: 50px;
}

.signup-form form .form-group,
.code-form form .form-group {
    margin-right: auto;
    margin-left: auto;
    float: none;
}

.signup-form form .form-group input,
.code-form form .form-group input {
    background: #ebeaea;
    border: none;
    border-radius: 10px;
    height: 50px;
    box-shadow: none;
    outline: none;
    padding-right: 22px;
    padding-left: 22px;
    font-size: 17px;
    color: #757575;
    font-weight: 700;
}

.signup-form form .form-group input:focus,
.code-form form .form-group input:focus {
    background: #fff;
    border: 2px solid #8A1E2C;
}

.signup-form input[type=checkbox] {
    display: none;
}

.signup-form input[type=checkbox]+label {
    display: block;
    margin: 0.2em;
    cursor: pointer;
    padding: 0.2em;
    font-size: 15px;
    font-weight: 700;
    color: #999d9d;
}

.signup-form input[type=checkbox]+label:before {
    content: "\2714";
    /* border: 0.1em solid #8A1E2C; */
    border-radius: 5px;
    display: inline-block;
    width: 1.2em;
    height: 1.2em;
    padding-left: 0;
    padding-bottom: 0;
    margin-right: 0;
    vertical-align: middle;
    color: transparent;
    transition: .2s;
    text-align: center;
    font-size: 17px;
    margin-left: 10px;
    line-height: 1;
    padding-top: 1px;
    background: #ebeaea;
}

.signup-form input[type=checkbox]+label:active:before {
    transform: scale(0);
}

.signup-form input[type=checkbox]:checked+label:before {
    background-color: #8A1E2C;
    border-color: #8A1E2C;
    color: #fff;
}

.signup-form .btn-signup,
.btn-send {
    background-color: #8A1E2C;
    border-color: #8A1E2C;
    color: #fff;
    width: 100%;
    border-radius: 10px;
    font-size: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
    outline: none !important;
    font-weight: 700;
}

.btn-send:hover {
    color: #fff;
}

.signup-form .fa-eye {
    position: absolute;
    left: 50px;
    top: 15px;
    color: #636363;
    cursor: pointer;
    font-size: 17px;
}

.code-form .btn-code {
    background-color: #8A1E2C;
    border-color: #8A1E2C;
    color: #fff;
    width: 49%;
    border-radius: 10px;
    font-size: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
    outline: none !important;
}

.code-form .btn-recode {
    background-color: #fff;
    border-color: #8A1E2C;
    color: #8A1E2C;
    width: 49%;
    border-radius: 10px;
    font-size: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
    outline: none !important;
}


/* ===========================
index page
============================== */

.slider-img {
    box-shadow: 0 4px 8px 0 rgba(5, 5, 5, 0.2), 0 6px 20px 0 rgba(167, 167, 167, 0.19);
    border-radius: 10px;
}

#top-slider .item {
    padding-bottom: 50px;
    padding-top: 50px;
}

#top-slider.owl-carousel .owl-dots {
    display: block !important;
}

#top-slider.owl-theme .owl-dots .owl-dot.active span {
    background: #8A1E2C
}

#googleMap {
    height: 300px;
    width: 100%;
    border-radius: 10px;
    margin-top: 50px;
    margin-bottom: 50px;
}

#main-form {
    margin-top: 50px;
    margin-bottom: 50px;
}

#main-form input[type=text],
#main-form input[type=number],
#main-form select {
    background: #eee;
    border: none;
    border-radius: 10px;
    height: 50px;
    box-shadow: none;
    outline: none;
    padding-right: 22px;
    padding-left: 22px;
    font-size: 17px;
    color: #757575;
    font-weight: 700;
}

#main-form textarea {
    background: #eee;
    border: none;
    border-radius: 10px;
    box-shadow: none;
    outline: none;
    padding-right: 22px;
    padding-left: 22px;
    font-size: 17px;
    color: #757575;
    font-weight: 700;
    margin-bottom: 25px;
}

.workdays #time {
    float: left;
    display: none;
}

.workdays .check {
    display: inline-block;
}

.workdays {
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.ui-widget-content {
    border: 1px solid #8a1e2c;
}

.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default {
    border: 1px solid #8a1e2c;
    background: #ffffff url(images/ui-bg_glass_85_dfeffc_1x400.png) 50% 50% repeat-x;
    font-weight: bold;
    color: #8a1e2c;
}

.ui-widget-header {
    border: 1px solid #8a1e2c;
    background: #8a1e2c url(images/ui-bg_gloss-wave_55_5c9ccc_500x100.png) 50% 50% repeat-x;
    color: #ffffff;
    font-weight: bold;
}

#time input {
    direction: ltr;
    text-align: right;
}

#ptTimeSelectCntr #ptTimeSelectUserTime {
    direction: ltr;
}


/* upload images */

#main-form input[type="file"] {
    display: block;
}

#main-form .imageThumb {
    max-height: 100px;
    border: 2px dashed #eee;
    /* padding: 1px; */
    cursor: pointer;
    height: 100px;
    border-radius: 10px;
    width: 100px;
    object-fit: cover;
    object-position: center;
}

#main-form .pip {
    display: inline-flex;
    margin: 10px;
    position: relative;
}

#main-form .remove {
    display: none;
    background: transparent;
    border: none;
    color: white;
    text-align: center;
    cursor: pointer;
    color: #8a1e2c;
    font-size: 22px;
    position: absolute;
    top: 35px;
    left: 40px;
    padding: 5px;
    border-radius: 5px;
    font-weight: 700;
}

#main-form .pip:hover .remove {
    background: rgba(139, 32, 46, 0.3);
    color: #fff;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    padding-top: 40%;
}


/* ==== */

#main-form #files::-webkit-file-upload-button {
    visibility: hidden;
}

#main-form #files::before {
    content: 'Select some files';
    display: inline-block;
    background: linear-gradient(top, #f9f9f9, #e3e3e3);
    border: 1px solid #999;
    border-radius: 3px;
    padding: 5px 8px;
    outline: none;
    white-space: nowrap;
    -webkit-user-select: none;
    cursor: pointer;
    text-shadow: 1px 1px #fff;
    font-weight: 700;
    font-size: 10pt;
}

#main-form #files:hover::before {
    border-color: black;
}

#main-form #files:active::before {
    background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}

#main-form input[type="file"] {
    display: none;
}

#main-form .custom-file-upload {
    border: 1px dashed #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    width: 100px;
    height: 100px;
    border-radius: 10px;
    overflow: hidden;
    background: #eeeeee;
    margin: 0;
}

#main-form .custom-file-upload i {
    transform: translateY(30px);
    font-size: 25px;
    color: #8a1e2c;
}

#main-form .field {
    margin-bottom: 50px;
}


/* ===========================
sessions page
============================= */

.session {
    position: relative;
    overflow: hidden;
    box-shadow: -5px 3px 11px 0px rgba(146, 146, 146, 0.1), 2px 4px 5px 0 rgba(0, 0, 0, 0.06);
    border-radius: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.session-img {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 15px;
    width: 100%;
    height: 200px;
    object-fit: cover;
    object-position: center;
}

.session-overlay {
    background: rgba(138, 30, 44, 0.815);
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    border-radius: 15px;
    /* -webkit-transform: translate(-50%, -50%); */
    /* -moz-transform: translate(-50%, -50%); */
    /* transform: translate(-50%, -50%); */
    -webkit-transition: all 0.5s ease-in-out 0s;
    -moz-transition: all 0.5s ease-in-out 0s;
    transition: all .5s ease-in-out 0s;
}

.session:hover .session-overlay {
    opacity: 1;
}

.session:hover .session-actions {
    top: 50%;
    left: 50%;
    opacity: 1;
    cursor: pointer;
}

.session:hover .session-overlay {
    top: 0%;
    left: 0%;
    opacity: 1;
    cursor: pointer;
}

.fadeIn-bottom {
    top: 80%;
}

.session-actions {
    position: absolute;
    text-align: center;
    padding-left: 1em;
    padding-right: 1em;
    width: 100%;
    top: 50%;
    left: 50%;
    opacity: 0;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: all 0.5s ease-in-out 0s;
    -moz-transition: all 0.5s ease-in-out 0s;
    transition: all .5s ease-in-out 0s;
}

.session-actions i {
    background: #fff;
    font-size: 20px;
    padding: 10px;
    border-radius: 5px;
    color: #8A1E2C;
    width: 50px;
    margin: auto 10px;
    height: 40px;
}


/* =============================
edit sevices
=============================== */

.editServices-btn {
    background: #8A1E2C;
    color: #fff;
    font-size: 25px;
    padding: 10px;
    border-radius: 5px;
    width: 44px;
    height: 44px;
    line-height: 0;
}

.editServices-btn:hover {
    color: #8A1E2C;
    background: #fff;
    cursor: pointer;
    border: 2px solid #8A1E2C;
}

#editServModal input[type=checkbox]+label,
.workdays input[type=checkbox]+label {
    display: block;
    margin: 0.2em;
    cursor: pointer;
    padding: 0.2em;
    font-size: 15px;
    font-weight: 700;
}

#editServModal input[type=checkbox],
.workdays input[type=checkbox] {
    display: none;
}

#editServModal input[type=checkbox]+label:before,
.workdays input[type=checkbox]+label:before {
    content: "\2714";
    border: 0.1em solid #8A1E2C;
    border-radius: 5px;
    display: inline-block;
    width: 1.2em;
    height: 1.2em;
    padding-left: 0;
    padding-bottom: 0;
    margin-right: 0;
    vertical-align: middle;
    color: transparent;
    transition: .2s;
    text-align: center;
    font-size: 17px;
    margin-left: 10px;
    line-height: 1;
    padding-top: 1px;
}

#editServModal input[type=checkbox]+label:active:before,
.workdays input[type=checkbox]+label:active:before {
    transform: scale(0);
}

#editServModal input[type=checkbox]:checked+label:before,
.workdays input[type=checkbox]:checked+label:before {
    background-color: #8A1E2C;
    border-color: #8A1E2C;
    color: #fff;
}

#editServModal .btn-cancel,
#editServModal .btn-done:hover {
    background-color: #8A1E2C;
    border-color: #8A1E2C;
    color: #fff;
    font-weight: 700;
    border: 2px solid #8A1E2C;
}

#editServModal .btn-done,
#editServModal .btn-cancel:hover {
    background-color: #fff;
    border-color: #8A1E2C;
    color: #8A1E2C;
    border: 2px solid #8A1E2C;
    font-weight: 700;
}

#editServModal .modal-header .close {
    margin-top: -2px;
    color: #8a1e2c;
    opacity: 1;
}

#editServModal .modal-footer {
    padding: 15px;
    border-top: none;
    background: #eeeeee5c;
    margin-top: 20px;
}

#editServModal .modal-header {
    border-bottom: none;
    background: #eeeeee5c;
}

#editServModal .modal-dialog {
    display: inline-block;
    vertical-align: middle;
    text-align: right;
}

#editServModal.modal:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -4px;
}

#editServModal.modal {
    text-align: center;
    padding: 0!important;
}

#editServModal .modal-content {
    box-shadow: 0 5px 15px rgba(255, 255, 255, 0.2);
    border: none;
    border-radius: 10px;
    overflow: hidden;
}

#editServModal .modal-header label {
    margin: 0;
    font-size: 20px;
    font-weight: 700;
}

#editServModal .modal-body {
    padding-bottom: 0;
}


/* =================================
media
==================================== */

@media(max-width:768px) {
    #editServModal .modal-dialog {
        width: 90%;
    }
    .workdays #time {
        float: none;
        margin: auto;
        text-align: center;
    }
    .workdays #time input {
        width: 49%;
    }
    .workdays {
        display: block;
    }
    #ptTimeSelectCntr {
        margin-left: auto;
        margin-right: auto;
        left: 0 !important;
        right: 0;
    }
}